.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* shared styles */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
}

.btn-secondary {
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
}

.shared-bg {
    background-color: #FFF8F3;
}


/* header styles */

.header {
    background-image: url(/images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* navbar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-greetings {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
}

.banner-content {
    width: 585px;
    height: 356px;
    flex-shrink: 0;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    width: 585px;
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner-dp {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}


/* Main Section---------------------- */

/* Shared styles for Main section */
.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* style for Main section */
main {
    border-radius: 10px;
    width: 1140px;
    height: 550px;
    flex-shrink: 0;
    margin: 130px 230px;

}

/* style for about section */
.about {
    padding: 131px 157px 371px 131px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.about-description {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}